<% include auth/header.ejs %>
<h1><%= title %></h1>

<div class="card">
    <ul>
        <li><%= card._id %></li>
        <li><%= card.title %></li>
        <li><%= card.imageA %></li>
        <li><%= card.imageB %></li>
        <li><%= card.useremail %></li>
        <li><%= card.postDate %></li>
    </ul>
</div>

<% include auth/footer.ejs %>