<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>

<div class="card">
    <ul>
        <li><%= card._id %></li>
        <li><%= card.title %></li>
        <li><%= card.imageA %></li>
        <li><%= card.imageB %></li>
        <li><%= card.useremail %></li>
        <li><%= card.postDate %></li>
    </ul>
</div>

</body>
</html>
