<% include header.ejs %>
<div class="jumbotron">
    <h1><%= title %></h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Download Now</a></p>
</div>
<% cards.forEach(function(val, index, arr) {
    var data = val; %>
    <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="card-example post">
            <div class="thumbnail">
                <time> &nbsp;
                </time>
                <a style="cursor:pointer" onclick="javascript:viewBoard('item')" href="<%= host%>/cards/<%= data._id%>" class="capton">
                    <div class="row">
                        <img src="<%= data.imageA%>" alt="imageA" class="col-md-6 col-sm-6 img-rounded">
                        <img src="<%= data.imageB%>" alt="imageB" class="col-md-6 col-sm-6 img-rounded">
                    </div>
                    <h4 class="list-group-item-heading"><%= data.title %></h4>
                    <p class="list-group-item-text"><%= data.useremail %></p>
                </a>
            </div>
        </div>
    </div>

<% })
%>

<% include footer.ejs %>